/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.strategy-nested {
	margin-left: 5px;
	border-radius: 5px;
	padding: 5px;
}

.strategy-nested.depth-0 {
	background-color: var(--color-base-05);
}

.strategy-nested.depth-1 {
	background-color: var(--color-base-25);
}

.strategy-nested.depth-2 {
	background-color: var(--color-base-50);)
}

.icon-item {
	padding: 5px;
}
