/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.strategy-nested {
	margin-left: var(--size-4-2);
	border-radius: var(--radius-m);
	padding:var(--size-4-2)
}

.strategy-nested.depth-0 {
	background-color: rgba(var(--color-red-rgb), 0.2);
}

.strategy-nested.depth-1 {
	background-color: rgba(var(--color-blue-rgb), 0.2);
}

.strategy-nested.depth-2 {
	background-color: rgba(var(--color-green-rgb), 0.2);
}

.suggestion-item-icon {
	padding: var(--size-4-1)
}

.suggestion-item-text {
	padding-left: var(--size-4-1)
}

.custom-color {
	background-color: var(--custom-color);
	border-radius: var(--radius-m)
}

.custom-color.is-selected {
	background-color: color-mix(in hsl, var(--background-modifier-hover), var(--custom-color));
}

.multi-select-pill-content.custom-color {
	padding: var(--size-4-1);
}

.setting-item-control.setting-item-control-flex {
	flex-wrap: wrap;
}

.setting-group .setting-item:not(.setting-item-heading).setting-item.is-empty {
	padding: 0;
}

.setting-group .setting-item:not(.setting-item-heading).is-empty:before {
	border-top-width: 0;
}


.multi-select-pill.invalid-suggestion::before	 {
	color: var(--color-red);
	content: '*';
}

.metadata-property-value.invalid-suggestion::before	 {
	color: var(--color-red);
	content: '*';
}

.query-valid {
	--icon-color: var(--color-green);
	--icon-size: var(--icon-xl);
}

.query-invalid {
	--icon-color: var(--color-red);
	--icon-size: var(--icon-xl);
}

.query-unknown {
	--icon-color: var(--color-yellow);
	--icon-size: var(--icon-xl);
}
